html
    head
        title title
body

    h1 IBRAHIMA SY
    h2 Developpeur Web

-     const list0  = ["contact","06 38 18 01 71","syibrahima972@gmail.com"]
    each item in list0
        li= item

    h2 Domaine de compétences
-
    const list1 = ["Javascript", "HTML5", "Github", "Git", "CSS", "Angular JS ", "React"]
each item in list1
            li= item

h2 Expériences Professionnelles

-
    const list2 = ["White Rabbit 2019","FREE RESEAU 2018/2019", "UPS Helper 2017/2018","ZARA 2015/2016","Monoprix 2012/2015",
    "Fromagerie de Paris 2005/2007"]
each item in list2
    li= item

h2 Formations
-
    const list3 = ["2012-2015 BTS MUC"," 2012 BAC PRO COMMERCE ", "Langues : Anglais ","Arabe",
    "Bureautique","Internet","excel","word","Powerpoint "]
each item in list3
    li= item

h4 Loisirs
-
    const list4 = ["Lecture","football","cinéma",]
each item in list4
    li= item